<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!--  -->
	</head>
	<body>
		<div th:remove="tag" th:fragment="footer">
		 	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>     -->
		    <!-- <script src="resources/lib/js/jquery-1.10.2.min.js" type="text/javascript"></script> -->
		    <script src="resources/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
		    <script src="resources/lib/js/bootstrap.min.js" type="text/javascript"></script>
		    <script src="resources/lib/js/datatables.min.js" type="text/javascript"></script>
		    <script src="resources/lib/js/fnReloadAjax.js" type="text/javascript"></script>
		    <script src="resources/lib/js/sweetalert-dev.js" type="text/javascript"></script>
		    <script src="resources/app/js/common.js" type="text/javascript"></script>
		    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
		    <script src="resources/lib/js/select2.js" type="text/javascript"></script>
		    <script src='resources/lib/js/moment.min.js'></script>
		    <script src='resources/lib/js/bootstrap-datetimepicker.min.js'></script>
		    
		    <!-- JQuery-Ui  -->
		    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		    
		    <!-- Calendar  -->
		    <script src='resources/lib/js/fullcalendar.js'></script>
		</div>
	</body>
</html>